.students {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .students .batch {
    padding: 20px;
    width: calc(20% - 50px);
    text-align: center;
    background-color: red;
    margin: 5px; }
