#student
  margin: 20px
  .student-header
    flex-flow: row wrap
    display: flex
    .title
      text-align: left
      .photo
        width: calc(20% - 30px)
        margin: 15px
        .Student-Info
          width: calc(80% - 30px)
          margin: 15px
          .evalucation-color
            width: 36px
            height: 36px
            min-width: 0px!important
            button
              width: 36px!important
              height: 36px!important
          .student-evaluation
            flex-flow: row wrap
            display: flex
            .evaluation-history
              p
                display: inline-block
                width: calc(20%)
                .date-picker
                  display: inline-block
                  width: 150px
              .evaluation
                width: calc(20% - 30px)
                margin: 15px
                .button
                  width: 100%
                  max-width: 150px
                  margin: auto!important
                  display: block!important
                  height: 50px!important
                  .totch
                    width: calc(80% - 30px)!important
                    .submit
                      float: right
